*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
body{
  padding-bottom: 920px;
padding-top: 20px;
padding-left: 70px;
}