.sidebar{
  position: fixed;
  left: 0; 
  top: 56px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
  width: 72px;
  z-index:100;
}

.home-icon,.explore-icon,.subscriptions-icon,.library-icon,.originals-icon,.youtube-music-icon{
width: 24px;
margin-bottom: 5px;
}
.icons-text{
  font-size: 10px;

}

.icons-div{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 74px;
cursor: pointer;
width:100%;
}
.icons-div:hover{
  background-color: rgb(104, 104, 104);
}